.intro__list {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
    letter-spacing: 0em;
    list-style-type: none;
    padding-left: 0;
}